name: Push

on:
  push:
    branches: [ "develop", "main" ]
  workflow_dispatch:


jobs:
  ci:
    name: "Continuous Integration"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout codebase"
        uses: actions/checkout@v3

      - name: "Set up JDK 11"
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          check-latest: false

      - name: "Setup Android SDK"
        uses: android-actions/setup-android@v2

      - name: "Run Linters and Test"
        run: ./gradlew check

      - name: "Build"
        run: ./gradlew build

      - name: "Upload artifact"
        uses: actions/upload-artifact@v3
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk